.search-box {
    margin: 0 auto;
    width: 80vw;
    padding: 2rem 0 2.5rem 3rem;
    font-size: 5rem;
    background-color: rgb(2,0,35);
    color: white;
    -webkit-appearance: none;
    border-radius: 10rem;
    margin-top: 3rem;
    border: 1px solid #111666;
    transition: ease-in .3s all;
}

.search-box:focus {
    border-color: orange;
    background-color: orange;
    color: rgb(2,0,35);
}
