.search-box {
    margin: 0 auto;
    font-size:calc(1rem + 2vmin);
text-align: center;
padding: 15px 0 20px;
    background-color: rgb(2,0,35);
    color: white;
    -webkit-appearance: none;
    border-radius: 10rem;
    margin-top: 3rem;
    border: 2px solid #0c0f48;
    transition: ease-in .3s all;
}

.search-box:focus {
 width: 30vw;
 padding: 1rem 0 1.5rem 1.5rem;
    font-size: 3.5rem;
    border:solid 2px orange;
    background-color: #ff4a04;
    color: rgb(2,0,35);
}


@media only screen and (max-width:620px){
    .search-box:focus {
        font-size: 2rem;
        padding: 1rem 0 1rem 1rem;
        width: 80vw;
    }
}
