.App {
  text-align: center;
  background: rgb(2,0,36);
  background-color: red;
  display: flow-root;
  min-height: 100vh;
}



.App-content {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

